.vscode
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
**/.settings/
.loadpath
.recommenders
.project
.classpath
.idea
.gradle
spring-shell.log

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch


# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans
.sts4-cache

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# m2e-code-quality Eclipse IDE plugin temporary configuration files for Eclipse CS Checkstyle / PMD / SpotBugs Plug-Ins
.checkstyle
.pmd
.pmdruleset.xml
.fbExcludeFilterFile

# NetBeans project files
nbactions.xml
nb-configuration.xml

# Maven build folder
target
bin

# IDEA project files
checkstyle.iml
checkstyle.ipr
checkstyle.iws
.idea
*.iml

